html {
  height: 100%;
  width: 100%;
}
body {  
  background-color: black ; 
  background-size: cover;
}
.door{
  position: absolute;
  top: 50px;
  left: 70px;
}
.door2 {
  position: absolute;
  top: 230px;
  left: 430px; 

}
.door3 {
  position: absolute;
  top: 400px;
  left: 790px;
}
.door4 {
  position: absolute;
  top: 10px;
  left: 1400px;
  
}
.eye {
  position: absolute;
  top: 70px;
  left: 300px;
}


































